.global-header img {
  cursor: pointer;
  width: 120px;
  height: logoHeight;
}

.header-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(55, 178, 219);
  position: fixed;
  width: 100%;
  top: 0;
}

.icon {
  padding: 10px;
  cursor: pointer;
}

@media (max-width: 500px) {
  .search-bar {
    display: none;
  }
}